{% extends "./plantilla.html" %}
{% block body %}

<br>
<div class="card">
    <div class="card-title text-center">
        <h3><b>Listado de Países</b></h3>
    </div>
</div>
<br>
<div class="text-end">
  <a href="{% url 'nuevoPais' %}" class="btn btn-success">Agregar País</a>
</div>
<table style="margin-left: 25%; width: 50%;" class="table table-striped table-hover" id="tbl-paises">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Continente</th>
        <th scope="col">Capital</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for paisTemporal in pais %}
        <tr>
            <td>{{ paisTemporal.id }}</td>
            <td>{{ paisTemporal.nombre }}</td>
            <td>{{ paisTemporal.continente }}</td>
            <td>{{ paisTemporal.capital }}</td>
            <td>
              <a href="{% url 'editarPais' paisTemporal.id %}" class="btn btn-warning">Editar</a>
              <a href="{% url 'EliminarPais' paisTemporal.id %}" class="btn btn-danger" 
                 onclick="return confirm('¿Estás seguro de eliminar?')">Eliminar</a>
            </td>
        </tr>
      {% endfor %}
    </tbody>
</table>

<!-- Mover a un archivo externo si es posible -->
<script>
  let table = new DataTable('#tbl-paises');
</script>

{% endblock %}
