{% extends "./plantilla.html" %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <form action="{% url 'guardarGenero' %}" enctype="multipart/form-data" id="frm_nuevo_genero" method="post">
                {% csrf_token %}
                <label for="nombre"><b> Nombre: </b></label>
                <input type="text" name="nombre" class="form-control" id="nombre" placeholder="Ingrese el nombre del género">
                <br>
                
                <label for="descripcion"><b> Descripción: </b></label>
                <textarea name="descripcion" id="descripcion" class="form-control" rows="3" placeholder="Ingresar la descripción"></textarea>
                <br>
                <label for="foto"><b> Fotografía: </b></label>
                <input type="file" name="foto" id="foto" accept="image/*" required class="form-control">
                 
                <button type="submit" class="btn btn-primary">Guardar</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url 'ListadoGenero' %}">Cancelar</a>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#frm_nuevo_genero").validate({
            rules: {
                nombre: {
                    required: true,
                    minlength:3,
                    maxlength:10
                },
                descripcion: {
                    required: true
                },
                foto: {
                    required: true
                }
            },
            messages: {
                nombre: {
                    required: "Por favor, ingrese el nombre del género"
                },
                descripcion: {
                    required: "Por favor, ingrese la descripción del género"
                },
                foto: {
                    required: "Por favor, seleccione una fotografía"
                }
            }
        });
    });
</script>
<script>
    $(document).ready(function() {
        $("#foto").fileinput({                       
            showBrowse: true,
            browseOnZoneClick: true            
        });
    });
    </script>
<style>
    label.error {
        color: red;
        font-size: 14px;
    }
    .form-control.error{
        border: 1px solid red;
    }
</style>



{% endblock %}
