{% extends "./plantilla.html" %}
{% block body %}
<h1>AGREGAR DIRECTOR</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'guardarDirector' %}" enctype="multipart/form-data"  method="post">
                {% csrf_token %}
                
                <label for="dni"><b>DNI:</b></label>
                <input type="text" name="dni" class="form-control" id="dni" placeholder="Ingrese el DNI del director">
                
                <label for="apellido"><b>APELLIDO:</b></label>
                <input type="text" name="apellido" class="form-control" id="apellido" placeholder="Ingrese el apellido del director">
                
                <label for="nombre"><b>NOMBRE:</b></label>
                <input type="text" name="nombre" class="form-control" id="nombre" placeholder="Ingrese el nombre del director">
                
                <label for="estado"><b>ESTADO:</b></label>
                <select name="estado" id="estado" class="form-control">
                    <option value="True">Activo</option>
                    <option value="False">Inactivo</option>
                </select>

                <label for=""><b>Fotogografía:</b></label>
                <input type="file" name="foto" id="foto" 
                accept="image/*"
                required class="form-control">
                <br><br>
                
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="{% url 'ListadoDirector' %}">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
